$style-editor-primary: rgb(255, 248, 206);

// TODO: Random idea - rather than having tools and canvas on one screen, split them out into two screens
// Use https://github.com/hardchor/electron-redux to communicate between the two renderer processes
.style-editor {
  position: fixed;
  bottom: 20px;
  left: 100px;
  right: 100px;
  height: 10em;
  padding-top: 20px;
  background: $style-editor-primary;
  box-shadow: 0px 2px 2px 0px #888;
  font-family: 'American Typewriter';

  .style-item {
    padding-bottom: 5px;
    padding-left: 40px;

    .style-property {
      display: inline-block;
    }
  }
}